@model Phone_Forecast.Models.DbContexts.Hardware

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hardware</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalStorageSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalStorageSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasMemoryCardReader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasMemoryCardReader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorCoreCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorCoreCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorCoreSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorCoreSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasGPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasGPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasHeadphoneOutput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasHeadphoneOutput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has2g)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has2g)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has3g)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has3g)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has4g)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has4g)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Has5g)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Has5g)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasBluetooth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasBluetooth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasGps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasGps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasWifi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasWifi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasRearCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasRearCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasFrontCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasFrontCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontCameraMegapixel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontCameraMegapixel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RearCameraMegapixel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RearCameraMegapixel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaximumLensAperture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaximumLensAperture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RearCameraCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RearCameraCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanRecordVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanRecordVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFramerateMaxResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFramerateMaxResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFramerateMinResolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFramerateMinResolution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatteryCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatteryCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasExchangableBattery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasExchangableBattery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasWirelessCharging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasWirelessCharging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WirelessStandard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WirelessStandard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasDualSim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDualSim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SimCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SimCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasFastCharging)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasFastCharging)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWaterResistant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWaterResistant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSelected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSelected)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConfigId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
