@model Phone_Forecast.Models.DbContexts.Hardware
@using Phone_Forecast.Utilities

@{
    ViewData["Title"] = "Info";
}

    <div class="container">
        <h1>@Model.PhoneModel.GetDisplayName()</h1>

        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">CPU (System on Chip) Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Cpu)
                @Html.DisplayFor(model => model.Cpu)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.ProcessorCoreCount)
                @Html.DisplayFor(model => model.ProcessorCoreCount)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.ProcessorCoreSpeed)
                @Html.DisplayFor(model => model.ProcessorCoreSpeed)GHz
            </div>
        </div>



        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Memory Infomration</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.RAM)
                @Html.DisplayFor(model => model.RAM)GB
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.InternalStorageSpace)
                @Html.DisplayFor(model => model.InternalStorageSpace)GB
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasMemoryCardReader)
                @Html.DisplayFor(model => model.HasMemoryCardReader)
            </div>
        </div>



        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Graphical Processing Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasGPU)
                @Html.DisplayFor(model => model.HasGPU)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.GPU)
                @Html.DisplayFor(model => model.GPU)
            </div>
        </div>

        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Connectors and Communication Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasHeadphoneOutput)
                @Html.DisplayFor(model => model.HasHeadphoneOutput)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Has2g)
                @Html.DisplayFor(model => model.Has2g)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Has3g)
                @Html.DisplayFor(model => model.Has3g)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Has4g)
                @Html.DisplayFor(model => model.Has4g)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Has5g)
                @Html.DisplayFor(model => model.Has5g)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasBluetooth)
                @Html.DisplayFor(model => model.HasBluetooth)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasGps)
                @Html.DisplayFor(model => model.HasGps)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasWifi)
                @Html.DisplayFor(model => model.HasWifi)
            </div>
        </div>

        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Camera Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasRearCamera)
                @Html.DisplayFor(model => model.HasRearCamera)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasFrontCamera)
                @Html.DisplayFor(model => model.HasFrontCamera)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.FrontCameraMegapixel)
                @Html.DisplayFor(model => model.FrontCameraMegapixel) megapixels
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.RearCameraMegapixel)
                @Html.DisplayFor(model => model.RearCameraMegapixel) megapixels
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.MaximumLensAperture)
                @Html.DisplayFor(model => model.MaximumLensAperture)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.RearCameraCount)
                @Html.DisplayFor(model => model.RearCameraCount)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.CanRecordVideo)
                @Html.DisplayFor(model => model.CanRecordVideo)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.MaxFramerateMaxResolution)
                @Html.DisplayFor(model => model.MaxFramerateMaxResolution) FPS
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.MaxFramerateMinResolution)
                @Html.DisplayFor(model => model.MaxFramerateMinResolution) FPS
            </div>
        </div>



        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Battery Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.BatteryCapacity)
                @Html.DisplayFor(model => model.BatteryCapacity) mAh
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasExchangableBattery)
                @Html.DisplayFor(model => model.HasExchangableBattery)
            </div>
        </div>



        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Dimension Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Depth)
                @Html.DisplayFor(model => model.Depth) mm
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Height)
                @Html.DisplayFor(model => model.Height) mm
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Width)
                @Html.DisplayFor(model => model.Width) mm
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.Weight)
                @Html.DisplayFor(model => model.Weight) g
            </div>
        </div>




        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Misc Information</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasWirelessCharging)
                @Html.DisplayFor(model => model.HasWirelessCharging)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.WirelessStandard)
                @Html.DisplayFor(model => model.WirelessStandard)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasDualSim)
                @Html.DisplayFor(model => model.HasDualSim)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.SimCard)
                @Html.DisplayFor(model => model.SimCard)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.HasFastCharging)
                @Html.DisplayFor(model => model.HasFastCharging)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.IsWaterResistant)
                @Html.DisplayFor(model => model.IsWaterResistant)
            </div>
        </div>

        <div class="row pb-5 pt-5">
            <div class="col-12">
                <h5 class="font-weight-bold">Release</h5>
                <hr />
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.OriginalPrice)
                @Html.DisplayFor(model => model.OriginalPrice) EURO
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.ReleaseDate)
                @Html.DisplayFor(model => model.ReleaseDate)
            </div>
            <div class="col-4">
                @Html.DisplayNameFor(model => model.ProductPage)
                @Html.DisplayFor(model => model.ProductPage)
            </div>
        </div>


    </div>

